/*tablas periodicas*/
#div-body-girado-tablaperiodica {
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

/*menu*/
.flecha-volver-menu-tipos-tablaperiodica {}

#div-menu-tipos-tablaperiodica {
    position: absolute;
    top: 12%;
    left: 14.5%;
    width: 71%;
    height: 65%;
}

.div-centrar-bt-menu-dificultades-tablaperiodica {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bt-menu-tipo-juego-tablaperiodica {
    position: relative;
    height: 40px;
    min-width: 65%;
    max-width: 100%;
    margin-bottom: 12px;
    font-size: 22px;
    text-align: center;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    letter-spacing: 1.05px;
    text-overflow: ellipsis;
    cursor: pointer;
    border: 2px #b6c5c9 outset;
    border-radius: 5px;
}

.bt-menu-tipo-juego-tablaperiodica:hover {
    box-shadow: 0px 0px 4px #000;
    height: 42px;
}

.bt-menu-tipo-juego-tablaperiodica:active {
    border: 2px #b6c5c9 inset;
}

#div-tablaperiodica {
    position: absolute;
    top: 15%;
    left: 5%;
    width: 90%;
    height: 65%;
    overflow: auto;
    background-color: aqua;
}

.casilla-elemento-tablaperiodica {
    position: relative;
    float: left;
    width: 45px;
    height: 50px;
    border: 1px #000 ridge;
    font-size: 14px;
    font-weight: 600;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #000;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}