/*Fuentes de texto*/
/*Roboto*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/*Courier Prime*/
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@700&display=swap');
/* dancing script */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
/*muliosh*/
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
/*solway*/
@import url('https://fonts.googleapis.com/css2?family=Solway:wght@500&display=swap');
/*Montserrat*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/* open sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
/*  */
@import url('https://fonts.googleapis.com/css2?family=Quantico:ital@1&display=swap');
/*  */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

/*bodys*/
body {
    background-color: rgb(237, 242, 242);
    overflow-x: hidden;
    user-select: none;
    outline: none;
    overflow-y: auto;
}

.div-body {
    background-color: rgb(237, 242, 242);
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    user-select: none;
    outline: none;
}

::-webkit-scrollbar {
    display: none;
}

/*titulos*/
.div-titulo {
    position: absolute;
    top: 16%;
    left: 0%;
    max-height: 70px;
    width: 100%;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.text-titulo {
    transition: 1.7s;
    position: relative;
    font-size: 65px;
    text-align: center;
    z-index: 101 !important;
    user-select: none;
    min-width: 350px;
    background: linear-gradient(to right, rgb(246, 27, 27), rgb(255, 166, 0), rgb(12, 161, 12), rgb(61, 61, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    font-family: 'Dancing Script', 'cursive';
    font-weight: 800;
}

@media (max-width: 1350px) {
    .text-titulo {
        font-size: 54px;
    }
}

.text-titulo-operaciones {
    transition: 1.7s;
    position: relative;
    font-size: 80px;
    text-align: center;
    z-index: 101 !important;
    user-select: none;
    min-width: 350px;
    font-family: 'Dancing Script', 'cursive';
    background: linear-gradient(to right, rgb(237, 206, 49) 45%, rgb(221, 218, 26), rgb(30, 225, 205) 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

@media (max-width: 950px) {
    .text-titulo-operaciones {
        font-size: 60px;
    }
}

@media (max-width: 750px) {
    .text-titulo-operaciones {
        font-size: 55px;
    }
}

/*botones extras*/
.bt-registros {
    position: absolute;
    top: 8px;
    right: 6px;
    width: 75px;
    height: 75px;
    cursor: pointer;
    user-select: none;
    z-index: 101 !important;
}

@media (max-width: 450px) {
    .bt-registros {
        right: 10px;
        width: 85px;
        height: 85px;
    }
}

.bt-juegos {
    position: absolute;
    bottom: 16%;
    left: 11px;
    width: 75px;
    height: 70px;
    cursor: pointer;
    user-select: none;
    outline: none;
    z-index: 101 !important;
}

@media (max-width: 450px) {
    .bt-juegos {
        width: 80px;
        height: 80px;
    }
}

.bt-herramientas {
    position: absolute;
    bottom: 3%;
    left: 2px;
    width: 85px;
    height: 85px;
    cursor: pointer;
    user-select: none;
    outline: none;
    z-index: 101 !important;
}

@media (max-width: 450px) {
    .bt-herramientas {
        width: 90px;
        height: 85px;
    }
}

.bt-contrareloj {
    position: absolute;
    bottom: 17.3%;
    right: 2px;
    width: 85px;
    height: 80px;
    cursor: pointer;
    user-select: none;
    outline: none;
    z-index: 101 !important;
}

@media (max-width: 450px) {
    .bt-contrareloj {
        width: 90px;
        height: 85px;
    }
}

.bt-ajustes {
    position: absolute;
    bottom: 3%;
    right: 2px;
    width: 80px;
    height: 80px;
    cursor: pointer;
    user-select: none;
    outline: none;
    z-index: 101 !important;
}

@media (max-width: 450px) {
    .bt-ajustes {
        width: 85px;
        height: 85px;
    }
}

.home {
    position: absolute;
    top: 12px;
    left: 8px;
    width: 95px;
    height: 95px;
    border: none;
    user-select: none;
    z-index: 1000 !important;
}

@media (max-width: 650px) {
    .home {
        width: 80px;
        height: 80px;
    }
}

@media (max-width: 400px) {
    .home {
        width: 70px;
        height: 70px;
    }
}

@media (max-width: 300px) {
    .home {
        width: 60px;
        height: 60px;
    }
}

.flecha-volver {
    position: absolute;
    top: -10px;
    left: 0px;
    margin-left: 10px;
    width: 120px;
    height: 100px;
    border: none;
    user-select: none;
    z-index: 1000 !important;
}

@media (max-width: 750px) {
    .flecha-volver {
        width: 110px;
        height: 90px;
    }
}

@media (max-width: 650px) {
    .flecha-volver {
        top: -5px;
        width: 100px;
        height: 80px;
    }
}

@media (max-width: 500px) {
    .flecha-volver {
        top: 5px;
        width: 90px;
        height: 80px;
    }
}

@media (max-width: 400px) {
    .flecha-volver {
        top: 10px;
        width: 85px;
        height: 75px;
    }
}

@media (max-width: 300px) {
    .flecha-volver {
        top: 12px;
        width: 78px;
        height: 68px;
    }
}

/*botones inicio opciones*/
/*operaciones*/
.div-bt-operaciones {
    position: absolute;
    top: 30%;
    width: 100%;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.bt-operaciones {
    transition: 0.3s;
    position: relative;
    width: 35%;
    min-width: 155px;
    height: 7.5%;
    min-height: 80px;
    background: linear-gradient(to right, rgb(255, 176, 29), rgb(255, 252, 96), rgb(0, 232, 0));
    box-shadow: 1px 3px 1px rgb(0, 178, 0);
    cursor: pointer;
    border-radius: 10px;
    border: none;
    user-select: none;
    font-size: xxx-large;
    font-family: 'Courier Prime', monospace;
    z-index: 101 !important;
    color: #000;
    letter-spacing: 0.6px;
}

/*problemas*/
.div-bt-problemas {
    position: absolute;
    margin-top: 25px;
    top: 41%;
    width: 100%;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.bt-problemas {
    transition: 0.3s;
    position: relative;
    width: 35%;
    min-width: 155px;
    height: 7.5%;
    min-height: 80px;
    background: linear-gradient(to right, rgb(255, 176, 29), rgb(255, 252, 96), rgb(0, 232, 0));
    box-shadow: 1px 3px 1px rgb(0, 178, 0);
    cursor: pointer;
    border-radius: 10px;
    border: none;
    user-select: none;
    font-size: xxx-large;
    font-family: 'Courier Prime', monospace;
    z-index: 101 !important;
    letter-spacing: 0.6px;
}

/*aleatorio*/
.div-bt-aleatorio {
    position: absolute;
    margin-top: 25px;
    top: 55%;
    width: 100%;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.bt-aleatorio {
    transition: 0.3s;
    position: relative;
    width: 35%;
    min-width: 155px;
    height: 7.5%;
    min-height: 80px;
    background: linear-gradient(to right, rgb(255, 176, 29), rgb(255, 252, 96), rgb(0, 232, 0));
    box-shadow: 1px 3px 1px rgb(0, 178, 0);
    cursor: pointer;
    border-radius: 10px;
    border: none;
    user-select: none;
    font-size: xxx-large;
    font-family: 'Courier Prime', monospace;
    z-index: 101 !important;
    letter-spacing: 0.6px;
}

/*extras*/
.div-bt-extras {
    position: absolute;
    margin-top: 25px;
    top: 69%;
    width: 100%;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.bt-extras {
    transition: 0.3s;
    position: relative;
    width: 35%;
    min-width: 155px;
    height: 7.5%;
    min-height: 80px;
    background: linear-gradient(to right, rgb(255, 176, 29), rgb(255, 252, 96), rgb(0, 232, 0));
    box-shadow: 1px 3px 1px rgb(0, 178, 0);
    cursor: pointer;
    border-radius: 10px;
    border: none;
    user-select: none;
    font-size: xxx-large;
    font-family: 'Courier Prime', monospace;
    z-index: 101 !important;
    letter-spacing: 0.6px;
}

.bt-operaciones:active,
.bt-problemas:active,
.bt-aleatorio:active,
.bt-extras:active {
    transition: 0.3s;
    color: #e7dfdf;
    box-shadow: 0px 0px 5px rgb(0, 150, 0);
    background: linear-gradient(to right, rgb(207, 142, 24), rgb(181, 171, 65), rgb(0, 165, 0));
}

/*ajustar segun tamaño pantalla*/
@media (max-width: 1140px) {

    .bt-aleatorio,
    .bt-problemas,
    .bt-operaciones,
    .bt-extras {
        font-size: xx-large;
    }
}

@media (max-width: 750px) {

    .bt-aleatorio,
    .bt-problemas,
    .bt-operaciones,
    .bt-extras {
        font-size: x-large;
    }
}

@media (max-width: 600px) {

    .bt-aleatorio,
    .bt-problemas,
    .bt-operaciones,
    .bt-extras {
        font-size: 20px;
        width: 45%;
    }
}

/*operaciones botones*/
/*operaciones*/
.div-bt-ejercicios {
    position: absolute;
    top: 30%;
    width: 100%;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.bt-ejercicios {
    transition: 0.3s;
    position: relative;
    width: 35%;
    min-width: 155px;
    height: 7.5%;
    min-height: 80px;
    background: linear-gradient(to right, rgb(255, 222, 56) 45%, rgb(255, 241, 51), rgb(33, 231, 211) 50%);
    box-shadow: 1px 3px 1px rgb(5, 181, 163);
    cursor: pointer;
    border-radius: 10px;
    border: none;
    user-select: none;
    font-size: xxx-large;
    font-family: 'Courier Prime', monospace;
    z-index: 101 !important;
    letter-spacing: 0.6px;
}

.bt-ejercicios:active {
    transition: 0.3s;
    box-shadow: 0px 0px 5px rgb(14, 199, 180);
    background: linear-gradient(to right, rgb(214, 186, 47) 50%, rgb(189, 186, 52), rgb(24, 163, 149) 50%);
    color: rgb(255, 239, 157);
}

/*problemas*/
.div-bt-especificas {
    position: absolute;
    margin-top: 25px;
    top: 41%;
    width: 100%;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.bt-especificas {
    transition: 0.3s;
    position: relative;
    width: 35%;
    min-width: 155px;
    height: 7.5%;
    min-height: 80px;
    background: linear-gradient(to right, rgb(255, 222, 56) 45%, rgb(255, 241, 51), rgb(33, 231, 211) 50%);
    box-shadow: 1px 3px 1px rgb(5, 181, 163);
    cursor: pointer;
    border-radius: 10px;
    border: none;
    user-select: none;
    font-size: xxx-large;
    font-family: 'Courier Prime', monospace;
    z-index: 101 !important;
    letter-spacing: 0.6px;
}

.bt-especificas:active {
    transition: 0.3s;
    box-shadow: 0px 0px 5px rgb(14, 199, 180);
    background: linear-gradient(to right, rgb(214, 186, 47) 50%, rgb(189, 186, 52), rgb(24, 163, 149) 50%);
    color: rgb(255, 239, 157);
}

/*aleatorio*/
.div-bt-personalizadas {
    position: absolute;
    margin-top: 25px;
    top: 55%;
    width: 100%;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.bt-personalizadas {
    position: relative;
    width: 35%;
    min-width: 155px;
    height: 7.5%;
    min-height: 80px;
    background: linear-gradient(to right, rgb(255, 222, 56) 45%, rgb(255, 241, 51), rgb(33, 231, 211) 50%);
    box-shadow: 1px 3px 1px rgb(5, 181, 163);
    border-radius: 10px;
    border: none;
    user-select: none;
    font-size: xxx-large;
    font-family: 'Courier Prime', monospace;
    z-index: 101 !important;
    letter-spacing: 0.6px;
    cursor: pointer;
}

.bt-personalizadas:active {
    transition: 0.3s;
    box-shadow: 0px 0px 5px rgb(14, 199, 180);
    background: linear-gradient(to right, rgb(214, 186, 47) 50%, rgb(189, 186, 52), rgb(24, 163, 149) 50%);
    color: rgb(255, 239, 157);
}

/*ajustar segun tamaño pantalla*/
@media (max-width: 1250px) {

    .bt-ejercicios,
    .bt-especificas,
    .bt-personalizadas {
        font-size: xx-large;
    }
}

@media (max-width: 830px) {

    .bt-ejercicios,
    .bt-especificas,
    .bt-personalizadas {
        font-size: x-large;
    }
}

@media (max-width: 650px) {

    .bt-ejercicios,
    .bt-especificas,
    .bt-personalizadas {
        font-size: 25px;
        width: 45%;
    }
}

@media (max-width: 545px) {

    .bt-ejercicios,
    .bt-especificas,
    .bt-personalizadas {
        font-size: 22px;
    }
}

@media (max-width:490px) {

    .bt-ejercicios,
    .bt-especificas,
    .bt-personalizadas {
        font-size: 18px;
        letter-spacing: 0.5px;
    }
}

@media (max-width:400px) {

    .bt-ejercicios,
    .bt-especificas,
    .bt-personalizadas {
        font-size: 15px;
        letter-spacing: 0.5px;
    }
}

/*ejercicios*/
.div-resultado {
    position: absolute;
    top: 310px;
    right: 0%;
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.resultado {
    transition: 1.2s;
    position: relative;
    text-align: center;
    width: 25%;
    max-width: 250px;
    font-size: 19px;
    font-weight: 500;
    letter-spacing: 1.2px;
    height: 100%;
    font-weight: 600;
    color: black;
    border: 1px ridge #8f8f95;
    border-radius: 2px;
    cursor: text;
    outline: none;
    font-family: "roboto", sans-serif;
}

input[type=number] {
    -moz-appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.ejercicio {
    transition: 1s;
    position: absolute;
    top: 140px;
    left: 0px;
    text-align: center;
    width: 100%;
    height: 40px;
    color: rgb(37, 37, 37);
    text-shadow: 0px 1px rgb(28, 28, 28), 0px 1.5px rgb(28, 28, 28), 0px 2px rgb(20, 20, 20);
    user-select: none;
    font-size: 3.75rem;
    font-family: "Roboto", sans-serif;
    letter-spacing: 1.2px;
}

@media (max-width:450px) {
    .ejercicio {
        font-size: 3.25rem;
    }
}

@media (max-width:400px) {
    .ejercicio {
        font-size: 3rem;
    }
}

@media (max-width:350px) {
    .ejercicio {
        font-size: 2.8rem;
    }
}

#correct-text {
    position: absolute;
    top: -38px;
    right: 17px;
    height: 55px;
    color: #1b8b0d;
    user-select: none;
    font-family: 'Courier Prime', monospace;
    font-size: 65px;
    text-shadow: 0 1px 0px #137b06,
        0 3px 0px #106404;
    letter-spacing: 1px;
    font-weight: 600;
}

/* nota corregir */
.nota {
    position: absolute;
    top: 15%;
    right: 10%;
    width: 80%;
    height: 70%;
    background-color: rgb(237, 245, 245);
    box-shadow: 0px 0px 3px #1a8a0c;
    border: 3px #2cb01b ridge;
    border-radius: 7px;
    user-select: none;
}

.emoji {
    position: absolute;
    top: 15%;
    right: 20%;
    height: 37%;
    width: 60%;
    user-select: none;
    outline: none;
    background-image: url("recursos/incorrecto.img.png");
    background-repeat: no-repeat;
    background-size: 123%;
    background-position: 50% 50%;
    border-radius: 100%;
    border: none;
    box-shadow: 0px 2px 0 #e4b320,
        0px 3px 0 #d7a408,
        1px 8px 12px rgba(12, 12, 12, 0.116),
        3px 8px 7px rgba(15, 15, 15, 0.116);
}

.texto-nota-mal {
    font-size: 45px;
    position: absolute;
    top: -6%;
    text-align: center;
    width: 100%;
    color: #ff1313;
    font-family: 'Roboto', sans-serif;
    user-select: none;
    text-transform: uppercase;
    text-shadow: 0 1px 0 #dc0a0a,
        0 3px 0 #ba0909,
        0 2px 0 #810303,
        2px 5px 15px rgba(12, 12, 12, 0.116),
        3px 8px 6px rgba(15, 15, 15, 0.116);
    letter-spacing: 1px;
}

.texto-nota-bien {
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 52px;
    height: 65px;
    top: -7%;
    color: #31c01e;
    font-family: 'Roboto', sans-serif;
    user-select: none;
    text-transform: uppercase;
    text-shadow: 0 1px 0 #24a413,
        0 3px 0 #1a8b0b,
        0 2px 0 #137706,
        2px 5px 15px rgba(12, 12, 12, 0.116),
        3px 8px 6px rgba(15, 15, 15, 0.116);
    letter-spacing: 1px;
}

.ejercicio-text {
    font-size: xx-large;
    position: absolute;
    bottom: 32%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    user-select: none;
    color: #1376e0;
    text-shadow: 0 1px 0 #095db7,
        0 2px 0 #044e9d,
        2px 5px 15px rgba(12, 12, 12, 0.116),
        3px 8px 6px rgba(17, 17, 17, 0.29);
    letter-spacing: 1.2px;
    font-weight: 600;
}

.sin-corregir {
    width: 100%;
    text-align: center;
    font-size: xx-large;
    position: absolute;
    bottom: 23.5%;
    color: #ff1313;
    font-family: 'Roboto', sans-serif;
    user-select: none;
    text-shadow: 0 1px 0 #c80000,
        0 2px 0 #9e0303,
        2px 5px 15px rgba(12, 12, 12, 0.116),
        3px 8px 6px rgba(17, 17, 17, 0.29);
    letter-spacing: 1.2px;
    font-weight: 600;
}

.sin-corregir-bien {
    width: 100%;
    text-align: center;
    font-size: xx-large;
    position: absolute;
    bottom: 23.5%;
    font-family: 'Roboto', sans-serif;
    user-select: none;
    color: #24a413;
    text-shadow: 0 1px 0 #168508,
        0 2px 0 rgb(20, 118, 7),
        2px 5px 15px rgba(12, 12, 12, 0.116),
        3px 8px 6px rgba(17, 17, 17, 0.29);
    letter-spacing: 1.2px;
    font-weight: 600;
}

.resuelto {
    font-size: xx-large;
    position: absolute;
    bottom: 14.5%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    user-select: none;
    color: #24a413;
    text-shadow: 0 1px 0 #168508,
        0 2px 0 rgb(20, 118, 7),
        2px 5px 15px rgba(12, 12, 12, 0.116),
        3px 8px 6px rgba(17, 17, 17, 0.29);
    letter-spacing: 1.2px;
    font-weight: 600;
}

.volver-nota {
    position: absolute;
    bottom: 1%;
    left: 21.5%;
    width: 88px;
    height: 88px;
    user-select: none;
}

.siguinte-nota {
    position: absolute;
    bottom: 0%;
    right: 21%;
    width: 85px;
    height: 85px;
    user-select: none;
    transform: rotate(180deg);
}

.siguiente-nota:active {
    background-image: url("recursos/flecha-siguiente-amarilla.png");
}

@media (max-width: 800px) {
    .siguiente-nota {
        background-size: 105%;
    }
}

/*problemas*/
.div-enunciado {
    position: absolute;
    top: -5px;
    left: 3.5%;
    margin-top: 4%;
    width: 93%;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.enunciado {
    transition: 1.2s;
    position: relative;
    width: 100%;
    font-size: 23.5px;
    font-family: 'Mulish', sans-serif;
    color: rgb(27, 27, 27);
    text-align: left;
    max-width: 1000px;
    font-weight: 700;
}

@media (max-width: 1235px) {
    .div-enunciado {
        top: 57px;
    }

    .enunciado {
        font-size: 22px;
    }
}

@media (max-width: 1000px) {
    .div-enunciado {
        top: 67px;
    }

    .enunciado {
        font-size: 20px;
    }
}

@media (max-width: 800px) {
    .div-enunciado {
        top: 80px;
    }

    .enunciado {
        font-size: 18.5px;
    }
}

@media (max-width: 600px) {
    .div-enunciado {
        top: 80px;
    }

    .enunciado {
        font-size: 17.8px;
    }
}

/*cronometro*/
.bt-cronometro-facil {
    transition: 1.5s;
    position: absolute;
    top: 15%;
    margin-top: 5%;
    left: 10%;
    width: 35%;
    height: 13%;
    min-width: 100px;
    min-height: 70px;
    color: rgb(208, 224, 28);
    background: rgb(4, 188, 29);
    border: rgb(20, 165, 39) 2px outset;
    border-radius: 4px;
    font-size: 43px;
    letter-spacing: 1.8px;
    font-family: 'Courier Prime', monospace;
    cursor: pointer;
    user-select: none;
    outline: none;
    overflow: hidden;
}

.bt-cronometro-facil:hover {
    box-shadow: 0px 0px 4px #0b7801;
}

.bt-cronometro-facil:active {
    border: rgb(7, 193, 32) 2px inset;
    box-shadow: 0px 0px 4px #008830;
}

.bt-cronometro-dificil {
    transition: 1.5s;
    position: absolute;
    top: 15%;
    margin-top: 5%;
    right: 10%;
    width: 35%;
    height: 13%;
    min-width: 100px;
    min-height: 70px;
    color: rgb(227, 116, 223);
    background: rgb(26, 46, 220);
    border: rgb(54, 101, 255) 2px outset;
    border-radius: 4px;
    font-size: 34px;
    letter-spacing: 0.5px;
    font-family: 'Courier Prime', monospace;
    cursor: pointer;
    user-select: none;
    outline: none;
    overflow: hidden;
}

.bt-cronometro-dificil:hover {
    box-shadow: 0px 0px 4px rgb(249, 134, 255);
}

.bt-cronometro-dificil:active {
    border: rgb(69, 112, 255) 2px inset;
    box-shadow: 0px 0px 4px #ff76fa;
}

.bt-cronometro-extremo {
    transition: 1.5s;
    position: absolute;
    top: 35%;
    margin-top: 5%;
    right: 22.5%;
    width: 55%;
    height: 15%;
    min-width: 100px;
    min-height: 70px;
    color: rgb(116, 179, 227);
    background: rgb(255, 51, 29);
    border: rgb(255, 130, 58) 2px outset;
    border-radius: 4px;
    font-size: 44px;
    letter-spacing: 1.5px;
    font-family: 'Courier Prime', monospace;
    cursor: pointer;
    user-select: none;
    outline: none;
    overflow: hidden;
}

.bt-cronometro-extremo:hover {
    box-shadow: 0px 0px 4px rgb(255, 160, 83);
}

.bt-cronometro-extremo:active {
    border: rgb(116, 202, 255) 2px inset;
    box-shadow: 0px 0px 4px rgb(48, 96, 255);
}

@media (max-width: 450px) {
    .bt-cronometro-extremo {
        font-size: 37px;
    }

    .bt-cronometro-dificil {
        font-size: 28px;
    }

    .bt-cronometro-facil {
        font-size: 36px;
    }
}

@media (max-width: 370px) {
    .bt-cronometro-extremo {
        font-size: 33px;
    }

    .bt-cronometro-dificil {
        font-size: 24px;
    }

    .bt-cronometro-facil {
        font-size: 30px;
    }
}

@media (max-width: 320px) {
    .bt-cronometro-extremo {
        font-size: 29px;
    }

    .bt-cronometro-dificil {
        font-size: 20px;
    }

    .bt-cronometro-facil {
        font-size: 25px;
    }
}

#contador-tiempo {
    position: absolute;
    top: 0px;
    left: 0%;
    width: 100%;
    height: 70px;
    text-align: center;
    font-family: 'Quantico', sans-serif;
    font-size: 55px;
    letter-spacing: 5px;
    font-weight: 900;
}

#racha-cronometro {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    display: none;
    font-size: 25px;
    font-weight: 700;
    font-family: 'Roboto Mono', monospace;
    letter-spacing: 1px;
    border-radius: 3px;
    border: 2px #3c88d5 outset;
    text-shadow: 0px 0px 3px #4a306a;
}

.registros-cronometro {
    position: absolute;
    top: 0%;
    margin: none;
    right: 0%;
    width: 10%;
    min-width: 90px;
    min-height: 70px;
    height: 8%;
    cursor: pointer;
}

/*ajustes*/
.home-ajustes {
    position: relative;
    top: 0px;
    left: 5px;
    width: 75px;
    height: 75px;
    border: none;
    user-select: none;
    z-index: 1000;
}

@media (max-width: 500px) {
    .home-ajustes {
        width: 68px;
        height: 68px;
    }
}

@media (max-width: 4000px) {
    .home-ajustes {
        width: 65px;
        height: 65px;
    }
}

@media (max-width: 300px) {
    .home-ajustes {
        width: 55px;
        height: 55px;
    }
}

.titulo-ajuste {
    letter-spacing: 0.4px;
    position: relative;
    top: 0px;
    margin-top: 25px;
    left: 0px;
    margin-left: 5px;
    color: rgb(32, 32, 32);
    font-size: 25px;
    font-weight: 1000;
    font-family: 'Montserrat', sans-serif;
}

#select-lista-idiomas {
    position: relative;
    top: 0px;
    margin-top: 0px;
    left: 20px;
    margin-left: 15px;
    width: 27%;
    min-width: 105px;
    max-width: 250px;
    text-align: center;
    align-items: center;
    height: 27px;
    background-color: #fffefb;
    border-top: 1px rgb(165, 165, 165) solid;
    border-bottom: 1px rgb(165, 165, 165) solid;
    border-left: 1px rgb(215, 215, 215) solid;
    border-right: 1px rgb(215, 215, 215) solid;
    cursor: pointer;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    outline: none;
    font-weight: 600;
}

#select-lista-idiomas:focus {
    box-shadow: 0px 0px 4px #1c1b1b;
}

#select-lista-idiomas:hover {
    box-shadow: 0px 0px 4.75px #292929;
}

@media(max-width:450px) {
    #select-lista-idiomas {
        width: auto;
    }
}

.switch-button-volumen {
    display: inline-block;
    position: relative;
    left: 50px;
    top: 0px;
    margin-left: 20px;
}

:root {
    --color-green1: #1174d199;
    --color-red1: #ffffffac;
    --color-button1: #e0e0e0;
    --color-black1: #b5b5b5;
}

.switch-button-volumen .switch-button__checkbox-volumen {
    display: none;
    border: none;
}

.switch-button-volumen .switch-button__label-volumen {
    background-color: #d6d6d6;
    width: 60px;
    height: 14px;
    border-radius: 3rem;
    display: inline-block;
    position: relative;
    cursor: pointer;
    user-select: none;
    outline: none;
    box-shadow: 0px 0px 3px #535353ac;
}

.switch-button-volumen .switch-button__label-volumen:before {
    transition: 0.35s;
    display: block;
    position: absolute;
    top: -4px;
    left: -10px;
    width: 22px;
    height: 22px;
    background-color: var(--color-button1);
    content: '';
    border-radius: 50%;
    box-shadow: 0px 0px 3px #7a7a7aac;
}

.switch-button-volumen .switch-button__checkbox-volumen:checked+.switch-button__label-volumen {
    background-color: var(--color-green1);
    box-shadow: 0px 0px 3px #535353ac;
    --color-button1: #e0e0e0;

}

.switch-button-volumen .switch-button__checkbox-volumen:checked+.switch-button__label-volumen:before {
    --color-button1: #187ad6;
    background-color: var(--color-button1);
    transform: translateX(57px);
    box-shadow: 0px 0px 2px #535353ac;
}

/*continuidad*/
.text-continuidad {
    position: relative;
    top: 0px;
    margin-top: 15px;
    left: 0px;
    margin-left: 5px;
    color: rgb(32, 32, 32);
    font-size: 25px;
    font-family: "lato", sans-serif;
}

.switch-button-continuidad {
    display: inline-block;
    position: relative;
    left: 50px;
    top: 0px;
    margin-left: 20px;
}

:root {
    --color-green1: #1174d199;
    --color-red1: #b5b5b5ac;
    --color-button1: #dfdfdf;
    --color-black1: #b5b5b5;
}

.switch-button-continuidad .switch-button__checkbox-continuidad {
    display: none;
    border: none;
}

.switch-button-continuidad .switch-button__label-continuidad {
    background-color: #d6d6d6;
    width: 60px;
    height: 14px;
    border-radius: 3rem;
    display: inline-block;
    position: relative;
    cursor: pointer;
    user-select: none;
    outline: none;
    box-shadow: 0px 0px 3px #535353ac;
}

.switch-button-continuidad .switch-button__label-continuidad:before {
    transition: 0.35s;
    display: block;
    position: absolute;
    top: -4px;
    left: -10px;
    width: 22px;
    height: 22px;
    background-color: var(--color-button1);
    content: '';
    border-radius: 50%;
    box-shadow: 0px 0px 3px #7a7a7aac;
}

.switch-button-continuidad .switch-button__checkbox-continuidad:checked+.switch-button__label-continuidad {
    background-color: var(--color-green1);
    box-shadow: 0px 0px 3px #535353ac;
    --color-button1: #e0e0e0;
}

.switch-button-continuidad .switch-button__checkbox-continuidad:checked+.switch-button__label-continuidad:before {
    --color-button1: #187ad6;
    background-color: var(--color-button1);
    transform: translateX(57px);
    box-shadow: 0px 0px 2px #535353ac;
}

/*redondeo*/

.separador-label-redondeo {
    position: relative;
    left: 20px;
    top: -20px;
    margin-top: 15px;
    margin-left: 15px;
    width: 100%;
    float: left;
}

.label-redondeo {
    letter-spacing: 0.4¡7px;
    position: relative;
    width: 85px;
    text-align: left;
    font-size: 19px;
    font-family: 'Mulish', sans-serif;
    z-index: 100 !important;
}

.checkbox-redondeo {
    cursor: pointer;
    position: relative;
    left: 5.5px;
    width: 19px;
    height: 19px;
    top: 3px;
}

.bt-cantidad-decimales {
    position: relative;
    left: 10px;
    width: 40px;
    font-size: 17px;
    font-family: 'Mulish', sans-serif;
    outline: none;
}

/* cronometro */
.separador-label-cronometro {
    position: relative;
    top: -20px;
    left: 20px;
    margin-top: 15px;
    margin-left: 15px;
    width: 100%;
    float: left;
}

.label-cronometro {
    letter-spacing: 0.7px;
    position: relative;
    text-align: left;
    float: left;
    font-size: 18px;
    font-family: 'Mulish', sans-serif;
    z-index: 100 !important;
    margin-bottom: 10px;
}

.label-cronometro-time {
    letter-spacing: 0.6px;
    position: relative;
    left: 10px;
    top: 6px;
    margin-left: 5px;
    margin-bottom: 6px;
    margin-right: 5px;
    font-family: 'Quantico', sans-serif;
    font-weight: 800;
    width: auto;
    float: left;
    font-size: 20px;
}

.checkbox-time-cronometro {
    cursor: pointer;
    position: relative;
    top: 1px;
    left: 2px;
    width: 19px;
    height: 19px;
}

.label-problema {
    position: relative;
    width: 85px;
    text-align: left;
    left: 20px;
    font-size: 18px;
    letter-spacing: 0.7px;
    font-family: 'Mulish', sans-serif;
    top: -7px;
    margin-top: 15px;
    margin-left: 15px;
}

.text-ja {
    position: relative;
    top: 0px;
    margin-top: 15px;
    left: 0px;
    margin-left: 5px;
    color: rgb(32, 32, 32);
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.4px;
}

.b-nivel {
    letter-spacing: 0.4px;
    transition: 1.7s;
    position: relative;
    cursor: pointer;
    top: -5px;
    left: 25px;
    width: 45px;
    height: 45px;
    margin-left: 6px;
    margin-bottom: 7px;
    background-color: #f5fffc;
    border: 2px #bbffea solid;
    box-shadow: 1px 1px 2px #92b9ad;
    border-radius: 2px;
    color: rgb(142, 214, 0);
    font-size: 19px;
    font-weight: 600;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.b-nivel:focus {
    border: 2px #6ee3be ridge;
    background-color: #f5fffc;
    box-shadow: 1px 1px 2px #69a18f;
    border-radius: 3px;
    color: rgb(68, 188, 17);
    font-size: 18px;
}

@media (max-width:1000px) {
    .b-nivel {
        width: 45px;
        height: 45px;
    }
}

@media (max-width:700px) {
    .b-nivel {
        width: 37px;
        height: 37px;
    }
}

@media (max-width:500px) {
    .b-nivel {
        width: 35px;
        height: 35px;
    }
}

.text-nivel-AJ {
    position: relative;
    top: 0px;
    margin-top: 10px;
    left: 0px;
    margin-left: 15px;
    color: rgb(43, 43, 43);
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    float: left;
    height: 100%;
    font-weight: 900;
    letter-spacing: 0.7px;
}

.label-JA {
    position: relative;
    left: 15px;
    top: 10px;
    margin-right: 13px;
    text-align: left;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.4px;
    font-family: 'Open Sans', sans-serif;
    z-index: 100 !important;
    width: auto;
    float: left;
}

@media (max-width:915px) {
    .label-JA {
        top: 2px;
    }
}

.checkbox-JA {
    cursor: pointer;
    position: relative;
    top: 2px;
    left: 0px;
    width: 18px;
    height: 18px;
}

.div-ja {
    position: relative;
    left: 0px;
    width: 100%;
    height: 100px;
    float: left;
    margin-bottom: 42px;
}

.bt-restaurar-JA {
    position: absolute;
    bottom: 35px;
    right: 12px;
    z-index: 101 !important;
    cursor: pointer;
    width: 36px;
    height: 36px;
    border: outset 1px rgb(152, 171, 175);
    border-radius: 3px;
    margin-bottom: -40px;
    background-color: rgb(223, 250, 255);
    background-image: url("recursos/img_resetaer_ajustes.png");
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: 50% 50%;
}

.bt-restaurar-JA:hover {
    box-shadow: 0px 0px 4px rgb(109, 128, 132);
}

@media (max-width:450px) {
    .bt-restaurar-JA {
        right: 9px;
        bottom: 1px;
    }
}

.div-restaurar-todos {
    position: absolute;
    bottom: -100px;
    right: 0%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bt-restaurar-JA-todos {
    position: relative;
    top: -15px;
    min-width: 110px;
    min-width: 9%;
    width: auto;
    max-width: 175px;
    height: 32px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
    background: linear-gradient(to right, rgb(210, 244, 255), rgb(164, 238, 255), rgb(199, 242, 255));
    color: #344248;
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    border: 2px rgb(124, 177, 195) outset;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 0px;
}

.bt-restaurar-JA-todos:hover {
    box-shadow: 0px 0px 4px rgb(104, 140, 148);
}

.bt-restaurar-JA-todos:active {
    border: 2px rgb(124, 177, 195) inset;
}

/*advertencias*/
#text-aceptar-operaciones {
    position: absolute;
    top: 5%;
    width: 60%;
    right: 20%;
    opacity: 0;
    border: 2px #ff2448 ridge;
    border-radius: 5px;
    color: #ff4769;
    text-align: center;
    box-shadow: #ff516e9f 1px 1px 0px;
    display: none;
}

/*especificas*/
.colocar-centro-div-especificas {
    position: absolute;
    bottom: 25%;
    left: 0%;
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}

.div-todos-operaciones-especificas {
    position: relative;
    bottom: 0px;
    left: 0px;
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: center;

}

@media (max-width:1500px) {
    .div-todos-operaciones-especificas {
        display: block;
    }
}

@media (max-width:425px) {
    .colocar-centro-div-especificas {
        bottom: 32%;
    }

    .div-todos-operaciones-especificas {
        width: 90%;
    }
}

.div-operacion-especifica {
    transition: 0.2s;
    position: relative;
    top: 0px;
    left: 0px;
    width: 600px;
    height: 250px;
    margin-left: 15px;
    margin-top: 15px;
    float: left;
    cursor: pointer;
}

.div-operacion-especifica:hover {
    transition: 0.2s;
    box-shadow: 0px 0px 3px #8a8a8a;
}

.div-operacion-especifica:active {
    transition: 0.2s;
    box-shadow: 0px 0px 3px #000;
}


@media (max-width:1600px) {
    .div-operacion-especifica {
        width: 270px;
        height: 250px;
    }
}
@media (max-width:1300px) {
    .div-operacion-especifica {
        width: 190px;
        height: 230px;
    }
}
@media (max-width:800px) {
    .div-operacion-especifica {
        width: 155px;
        height: 185px;
    }
}
@media (max-width:650px) {
    .div-operacion-especifica {
        width: 135px;
        height: 170px;
    }
}
@media (max-width:565px) {
    .div-operacion-especifica {
        width: 125px;
        height: 165px;
    }
}
@media (max-width:527px) {
    .div-operacion-especifica {
        width: 115px;
        height: 150px;
    }
}
@media (max-width:490px) {
    .div-operacion-especifica {
        width: 135px;
        height: 155px;
    }
}
.img-operacion-especifica {
    position: absolute;
    top: 0%;
    right: 0%;
    width: 100%;
    height: 100%;
    margin: none;
    background: rgb(58, 151, 251);
    background: radial-gradient(circle, rgba(58, 151, 251, 1) 14%, rgba(0, 56, 116, 1) 79%, rgba(0, 133, 166, 1) 100%);
    border: none;
    cursor: pointer;
}

.img-operacion-especifica-md {
    position: absolute;
    top: 0%;
    right: 0%;
    width: 100%;
    height: 100%;
    margin: none;
    background: rgb(23, 208, 105);
    background: radial-gradient(circle, rgba(23, 208, 105, 1) 13%, rgba(37, 222, 221, 1) 77%, rgba(77, 175, 255, 1) 100%);
    cursor: pointer;
}

.img-operacion-especifica-pr {
    position: absolute;
    top: 0%;
    right: 0%;
    width: 100%;
    height: 100%;
    margin: none;
    background: rgb(251, 167, 58);
    background: radial-gradient(circle, rgba(251, 167, 58, 1) 14%, rgba(138, 94, 0, 1) 79%, rgba(116, 52, 0, 1) 100%);
    cursor: pointer;
}

.img-operacion-especifica-j {
    position: absolute;
    top: 0%;
    right: 0%;
    width: 100%;
    height: 100%;
    margin: none;
    background: rgb(58, 251, 238);
    background: radial-gradient(circle, rgba(58, 251, 238, 1) 13%, rgba(62, 40, 255, 1) 83%, rgba(77, 130, 255, 1) 100%);
    cursor: pointer;
}


/*mensajes sistema*/
#div-mensaje-sistema {
    position: fixed;
    top: 5%;
    right: 0%;
    width: 40%;
    min-width: 135px;
    height: 60px;
    background-color: rgb(255, 51, 51);
    z-index: 10000 !important;
}

/*operaciones personalizadas*/
.div-todas-operaciones-personalizadas {
    position: absolute;
    top: 15%;
    left: 0%;
    width: 100%;
    height: 13%;
    min-height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-div-todas-operaciones-personalizadas {
    position: relative;
    top: 0px;
    left: 0px;
    width: 70%;
    height: 100%;
}

#div-cantidad-llenas-operaciones-personalizadas {
    position: absolute;
    left: 0%;
    top: 0%;
    height: 96%;
    width: 87px;
    border: 2px #b6c5c9 outset;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    background-color: #a8e2f0ac;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000d0;
    user-select: none;
    cursor: default;
    font-size: 23px;
    font-family: "lato", sans-serif;
    letter-spacing: 1.2px;
    font-weight: bold;
}

#div-todas-casillas-operaciones-personalizadas {
    position: absolute;
    left: 88px;
    top: 0%;
    height: 96%;
    max-width: 77%;
    border: 2px #c3c3c4 ridge;
    overflow-y: hidden;
    overflow-x: auto;
    display: flex;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.div-casilla-operacion-personalizada {
    position: relative;
    top: 0px;
    left: 0px;
    min-width: 60px;
    height: 100%;
    border: none;
    cursor: pointer;
    overflow: hidden;
    border-right: 2px #a1a3a3 ridge;
}

.div-casillas-tipo-operacion-personalizada {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 45%;
    border: none;
    border-bottom: 2px #b6c5c9 ridge;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #cdecf4;
}

.div-casillas-dificultad-operacion-personalizada {
    position: absolute;
    bottom: 15.5%;
    left: 0%;
    width: 100%;
    height: 37.8%;
    border: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #bde8f2;
}

.text-casillas-tipo-operacion-personalizada {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    overflow: hidden;
    font-family: "lato", sans-serif;
    text-align: center;
    color: #000000d0;
    text-overflow: clip;
    overflow: hidden;
}

.text-casillas-dificultad-operacion-personalizada {
    position: relative;
    width: 60px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 19px;
    font-family: "Roboto", sans-serif;
    text-align: center;
    color: #000000d0;
    text-overflow: ellipsis;
    overflow: hidden;
}

.div-text-numero-casilla-operaciones-personalizadas {
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 100%;
    height: 20%;
    border: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #a1dfece1;
    border: 1px #93a9a9 outset;
    border-bottom: none;
    font-size: 15px;
    overflow: hidden;
    font-family: "lato", sans-serif;
    text-align: center;
    color: #000000d0;
    font-weight: 800;
    letter-spacing: 1.1px;
}

.div-todas-opciones-operaciones-personalizadas {
    position: absolute;
    top: 32%;
    left: 0%;
    width: 100%;
    height: 40%;
}

.div-casillas-seleccionadas-operaciones-personalizadas {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 25%;
    height: 28%;
    cursor: default;
}

.div-text-titulo-casillas-seleccionadas-operaciones-personalizadas {
    position: absolute;
    top: 1.2%;
    left: 0%;
    width: 97.3%;
    height: 38%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1.17px;
    font-family: "lato", sans-serif;
    color: #0b0b0b;
    background-color: #4aa7ff;
    border: 2px #b6c5c9 outset;
    border-radius: 1px;
}

.div-bt-casillas-seleccionadas-operaciones-personalizadas {
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 100%;
    height: 57.5%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-family: "lato", sans-serif;
    color: #000;
    overflow: hidden;
}

#bt-casillas-seleccionadas-operaciones-personalizadas {
    position: relative;
    top: 0px;
    left: 0px;
    height: 95%;
    width: 100%;
    font-size: 24px;
    font-family: "lato", sans-serif;
    color: #000;
    overflow: hidden;
    text-align: center;
    border: 2px #b6c5c9 ridge;
    border-top: none;
    background-color: #f4f8fa;
    outline: none;
}

.div-dificultad-seleccionada-oepraciones-personalizadas {
    position: absolute;
    top: 5%;
    right: 5%;
    width: 26%;
    height: 27%;
    cursor: default;
}

.div-text-titulo-dificultad-seleccionada-operaciones-personalizadas {
    position: absolute;
    top: 0.2%;
    left: 0%;
    width: 96.87%;
    height: 38%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1.17px;
    font-family: "lato", sans-serif;
    color: #0b0b0b;
    background-color: #4aa7ff;
    border: 2px #b6c5c9 outset;
    border-radius: 1px;
}

.div-bt-dificultad-seleccionada-operaciones-personalizadas {
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 100%;
    height: 57.5%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-family: "lato", sans-serif;
    color: #000;
    overflow: hidden;
    border: none;
}

#bt-dificultad-seleccionada-operaciones-personalizadas {
    position: relative;
    top: 0px;
    left: 0px;
    height: 94%;
    width: 100%;
    font-size: 24px;
    font-family: "lato", sans-serif;
    color: #000;
    overflow: hidden;
    text-align: center;
    border: 2px #b6c5c9 ridge;
    border-top: none;
    background-color: #f4f8fa;
    outline: none;
}

.div-select-opciones-tipo-operacion-seleccionada-operaciones-personalizadas {
    position: absolute;
    top: 42%;
    left: 0%;
    width: 100%;
    height: 18%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#select-opciones-tipo-operacion-seleccionada-operaciones-personalizadas {
    position: relative;
    height: 100%;
    min-width: 43%;
    width: auto;
    max-width: 80%;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 1.1px;
    font-family: "lato", sans-serif;
    color: #1f1f1f;
    text-align: center;
    cursor: pointer;
    background-color: #f4f8fa;
    border: 2px #b6c5c9 outset;
    border-radius: 4px;
    text-overflow: ellipsis;
    outline: none;
}

.div-bt-añadir-operaciones-personalizadas {
    position: absolute;
    bottom: 10%;
    left: 0%;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bt-añadir-casilla-operaciones-personalizadas {
    position: relative;
    right: 35px;
    height: 100%;
    min-width: 23%;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 1.05px;
    font-family: 'Nunito', sans-serif;
    color: #1f1f1f;
    text-align: center;
    cursor: pointer;
    background-color: #f4f8fa;
    border: 2px #b6c5c9 outset;
    border-radius: 4px;
    text-overflow: ellipsis;
    outline: none;
}

.bt-borrar-casilla-operaciones-personalizadas {
    position: relative;
    left: 35px;
    height: 100%;
    min-width: 23%;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 1.05px;
    font-family: 'Nunito', sans-serif;
    color: #1f1f1f;
    text-align: center;
    cursor: pointer;
    background-color: #f4f8fa;
    border: 2px #b6c5c9 outset;
    border-radius: 4px;
    text-overflow: ellipsis;
    outline: none;
}

.div-centrar-bt-jugar-operaciones-personalizadas {
    position: absolute;
    bottom: 15%;
    left: 0%;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bt-empezar-crear-operaciones-personalizadas {
    position: relative;
    top: 0px;
    left: 0px;
    width: 35%;
    height: 50px;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 1.05px;
    font-family: 'Nunito', sans-serif;
    color: #222521;
    text-align: center;
    cursor: pointer;
    background: linear-gradient(to right, rgb(210, 244, 255), rgb(164, 238, 255), rgb(199, 242, 255));
    border: 2px rgb(124, 177, 195) outset;
    border-radius: 4px;
    text-overflow: ellipsis;
    outline: none;
}

#select-opciones-tipo-operacion-seleccionada-operaciones-personalizadas:hover,
.bt-añadir-casilla-operaciones-personalizadas:hover,
.bt-borrar-casilla-operaciones-personalizadas:hover {
    box-shadow: 0px 0px 5px #252525;
}

#select-opciones-tipo-operacion-seleccionada-operaciones-personalizadas:active,
.bt-añadir-casilla-operaciones-personalizadas:active,
.bt-borrar-casilla-operaciones-personalizadas:active {
    border: 2px #b6c5c9 inset;
}

.bt-empezar-crear-operaciones-personalizadas:hover {
    box-shadow: 0px 0px 4px rgb(104, 140, 148);
}

.bt-empezar-crear-operaciones-personalizadas:active {
    border: 2px rgb(124, 177, 195) inset;
}

/*contadores operaciones personalizadas*/
#operacion-actual-text-operaciones-personalizadas {
    position: absolute;
    top: -10px;
    right: 10px;
    color: #a4a4a4;
    user-select: none;
    font-family: 'Courier Prime', monospace;
    font-size: xx-large;
    text-shadow: 0 1px 0px #656565,
        0 3px 0px #3d3d3d;
}

#correct-text-operaciones-personalizadas {
    position: absolute;
    top: 30px;
    right: 10px;
    color: #1e9d0d;
    user-select: none;
    font-family: 'Courier Prime', monospace;
    font-size: xx-large;
    text-shadow: 0 1px 0px #158506,
        0 3px 0px #127006;
}

#incorrect-text-operaciones-personalizadas {
    position: absolute;
    top: 70px;
    right: 10px;
    color: rgb(255, 133, 43);
    user-select: none;
    font-family: 'Courier Prime', monospace;
    font-size: xx-large;
    text-shadow: rgb(219, 99, 12) 0px 1px 0px, rgb(219, 99, 11) 0px 3px 0px;
}

/*resultados finales*/
.div-centrar-progreso-resultados-operaciones-personalizadas {
    position: absolute;
    top: 5%;
    left: 0%;
    width: 100%;
    height: 225px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#div-progreso-puntuacion-porcentaje-resultados-operaciones-personalizadas {
    position: relative;
    width: 225px;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: conic-gradient(rgb(255, 67, 67)0%, rgb(255, 192, 192) 0%);
    border: rgb(255, 65, 113)2px ridge;
}

#div-text-puntuacion-porcentaje-resultados-operaciones-personalizadas {
    position: relative;
    width: 190px;
    height: 190px;
    border-radius: 50%;
    background-color: #f5e2e8;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier Prime', monospace;
    font-size: xxx-large;
    border: rgb(255, 65, 113) 2px ridge;
}

#text-total-operaciones-realizadas-resultados-operaciones-personalizadas {
    position: absolute;
    top: 45%;
    right: 0px;
    width: 100%;
    text-align: center;
    color: #a4a4a4;
    user-select: none;
    font-family: 'Courier Prime', monospace;
    font-size: 52px;
    text-shadow: 0 1px 0px #656565,
        0 3px 0px #3d3d3d;
}

#text-total-operaciones-correctas-resultados-operaciones-personalizadas {
    position: absolute;
    top: 56.5%;
    right: 0px;
    width: 100%;
    text-align: center;
    color: #1e9d0d;
    user-select: none;
    font-family: 'Courier Prime', monospace;
    font-size: 45px;
    text-shadow: 0 1px 0px #158506,
        0 3px 0px #127006;
}

#text-total-operaciones-incorrectas-resultados-operaciones-personalizadas {
    position: absolute;
    top: 67%;
    right: 0px;
    width: 100%;
    text-align: center;
    color: rgb(255, 133, 43);
    user-select: none;
    font-family: 'Courier Prime', monospace;
    font-size: 45px;
    text-shadow: rgb(219, 99, 12) 0px 1px 0px, rgb(219, 99, 11) 0px 3px 0px;
}

.volver-nota-resultados-operaciones-personalizadas {
    position: absolute;
    bottom: -3%;
    left: 38.5%;
    width: 22%;
    min-width: 40px;
    height: 22%;
    min-height: 45px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 75%;
    background-color: transparent;
    border: none;
    user-select: none;
    cursor: pointer;
}